body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: lightsteelblue;
}

.navbar{
width: 100%;
height: 10%;
border: 2px solid;
background-color: lightcyan;


}

.presentacion{
    height: 40%;
    width: 50%;
    background-color: whitesmoke;
    border: 2px solid;
}

.contenido{
    width: 25%;
    height: 50%;
    background-color: hotpink;
    border: 2px solid;
}

.footer{
    width: 100%;
    height: 5%;
    border: 2px solid;
    background-color: grey;

}