

h1{display:inline-block;

width: 4000;
}
.gmail{margin-left:1098px;

}

.texto{display:inline-block;
    margin-top: 50px;
    margin-left: 657px;}

.boton1{margin-left:654px;}

.button2{margin-top:11px ;}
.imagenb{width: 300px;
    display: inline-block ;

margin-left: 586px;
margin-top: 227px;

.icono{width:31;

}